<div class="content">
  <section class="container mt-5">
    <div class="row">
 
      <div class="col-md-4">
        <a href="bedroom/" class="card-link">
          <div class="card">
            <img src="./assets/bedroom.jpg" class="card-img-top" alt="bedroom">
            <div class="card-body">
              <h5 class="card-title">Sypialnia</h5>
              <p class="card-text">Krótki opis</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="kitchen/" class="card-link">
          <div class="card">
            <img src="./assets/kitchen.jpg" class="card-img-top" alt="kitchen">
            <div class="card-body">
              <h5 class="card-title">Kuchnia</h5>
              <p class="card-text">Krótki opis</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="bathroom/" class="card-link">
          <div class="card">
            <img src="./assets/bathroom.jpg" class="card-img-top" alt="bathroom">
            <div class="card-body">
              <h5 class="card-title">Łazienka</h5>
              <p class="card-text">Krótki opis</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-4 offset-md-2">
        <a href="living_room/" class="card-link">
          <div class="card">
            <img src="./assets/livingroom.jpg" class="card-img-top" alt="livingroom">
            <div class="card-body">
              <h5 class="card-title">Salon</h5>
              <p class="card-text">Krótki opis kategorii salonu.</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-md-4">
        <a href="boards/" class="card-link">
          <div class="card">
            <img src="./assets/boards.jpg" class="card-img-top" alt="boards">
            <div class="card-body">
              <h5 class="card-title">Płyty na wymiar</h5>
              <p class="card-text">Krótki opis kategorii płyt na wymiar.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

</div>