<div class="content">
  <section class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card" style="height: 30em;">
          <h3 class="card-title text-center mb-4 mt-4">Zaloguj się</h3>
          <form>
            <div class="form-group col-md-8 offset-md-2">
              <label for="login">Login:</label>
              <input type="text" class="form-control" id="login" placeholder="Twój login" required>
            </div>
            <div class="form-group col-md-8 offset-md-2">
              <label for="password">Hasło:</label>
              <input type="password" class="form-control" id="password" placeholder="Twoje hasło" required>
            </div>
            <hr class="divider">
            <div class="form-group d-flex justify-content-center">
              <button type="submit" class="btn btn-custom">Zaloguj się</button>
            </div>
          </form>
          <p class="mt-3 text-center">Nie pamiętasz hasła? <a href="#">Przypomnij hasło</a></p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card" style="height: 30em;">
          <h3 class="card-title text-center mb-4 mt-4">Nie masz jeszcze konta?</h3>
          <hr>
          <div class="container">
            <ul class="list-unstyled text-center">
              <li class="mb-3"><i class="bi bi-clock"></i> Historia zamówień</li>
              <li class="mb-3"><i class="bi bi-chat-dots"></i> Łatwiejsza komunikacja</li>
              <li><i class="bi bi-cart"></i> Niezdecydowany? Dodaj do koszyka i kup innym razem!</li>
            </ul>
          </div>
          <hr>
          <div class="form-group d-flex justify-content-center">
            <a href="register/" class="btn btn-custom">Zarejestruj się</a>          
          </div>
          
        </div>
      </div>
    </div>
  </section>
</div>