<div class="content">
  <section class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <h4 class="card-title text-center mb-4 mt-4">Przypomnienie hasła</h4>
          <p class="card-title text-center mt-4">Podaj e-mail.</p>
          <p class="card-title text-center mb-4">Na skrzynkę odbiorczą otrzymasz wiadomość z linkiem do zmiany hasła.</p>
          <form>
            <div class="form-group col-md-8 offset-md-2">
              <label for="email" class="">E-mail:</label>
              <input type="email" class="form-control" id="email" placeholder="E-mail" required>
            </div>
            <hr class="divider">
            <div class="form-group d-flex justify-content-center">
              <a href="login/" class="btn btn-custom">Wyślij</a>          
            </div>
            <hr class="divider">
          </form>
        </div>
      </div>
    </div>
  </section>
</div>