.btn-custom {
  background-color: #444;
  color: #fff;
}

.custom-image {
  object-fit: contain;
  width: 100%;
  height: 500px;
}

.btn-margin {
  margin-right: 10px;
}

.body-margin {
  margin-bottom: 40px;
}

.text-danger a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.text-danger a:hover {
  color: blue; /* lub dowolny inny kolor po najechaniu */
}
