<div class="card text-center">
  <img src="{{ assortmentItem.photo }}" class="card-img-top img-fluid custom-image mx-auto" alt="{{ assortmentItem.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ assortmentItem.name }}</h5>
    <p class="card-text">{{ assortmentItem.description }}</p>
    <p class="card-text">Cena: {{ assortmentItem.price }} zł</p>

    <ng-container *ngIf="assortmentItem.availability === 1; else unavailableContent">
      <a href="#" class="btn btn-custom">Dodaj do koszyka</a>
    </ng-container>

    <ng-template #unavailableContent>
      <p class="text-danger">Produkt niedostępny</p>
    </ng-template>
  </div>
</div>
