<div class="top-container">
  <div class="top-container-margin">
    <a href="#" class="contact-link">Kontakt</a>
    <a href="#" class="customer-support-link">Obsługa Klienta</a>
    <a href="login.html" class="login-link">Zaloguj się</a>
  </div>
</div>
<hr class="divider"> 
<header>
  <a href="main.html" class="logo">
    <img src="./assets/logo.png" alt="logoHornet">
  </a>
  <div class="search">
    <input type="text" placeholder="Szukaj...">
    <button type="button" class="search-button"></button>
  </div>
  <div class="user-actions">
    <a href="#" class="cart">
      <img src="./assets/cart.png" alt="Koszyk">
    </a>
  </div>
</header>

<nav>
  <ul>
    <li><a href="bedroom.html">Sypialnia</a></li>
    <li><a href="#">Kuchnia</a></li>
    <li><a href="#">Łazienka</a></li>
    <li><a href="#">Salon</a></li>
    <li><a href="#">Płyty na wymiar</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer>
  &copy; 2023 Hornet. Wszelkie prawa zastrzeżone.
</footer>