<div class="top-container">
  <div class="top-container-margin">
    <a href="contact/" class="contact-link">Kontakt</a>
    <a href="customer_service/" class="customer-support-link">Obsługa Klienta</a>
    <a href="login/" class="login-link">Zaloguj się</a>
  </div>
</div>
<div class="header-line"></div>
<header>
  <a href="home/" class="logo">
    <img src="./assets/logo.png" alt="logoHornet">
  </a>
  <div class="search">
    <input type="text" placeholder="Szukaj...">
    <button type="button" class="search-button">
      <i class="bi bi-search custom-icon-size"></i>
    </button>
  </div>
  <div class="user-actions">
    <a href="cart/" class="cart">
      <i class="bi bi-cart custom-icon-size"></i>
      
    </a>
  </div>
</header>

<nav>
  <ul>
    <li><a href="bedroom/">Sypialnia</a></li>
    <li><a href="kitchen/">Kuchnia</a></li>
    <li><a href="bathroom/">Łazienka</a></li>
    <li><a href="living_room/">Salon</a></li>
    <li><a href="boards/">Płyty na wymiar</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer class="fixed-bottom">
  &copy; 2023 Hornet. Wszelkie prawa zastrzeżone.
</footer>