<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <div *ngFor="let faq of faqs">
        <div class="faq-question" (click)="toggleAnswer(faq)">
          <strong>{{ faq.question }}</strong>
        </div>
        <div class="faq-answer" *ngIf="faq.showAnswer">
          {{ faq.answer }}
        </div>
        <div class="div-margin"></div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Reklamacje</h5>
          <p class="card-text">Nie zadowolony z zakupu? Produkt jest wadliwy? Skontaktuj się z nami w celu reklamacji.</p>
          <a href="/complaints" class="btn btn-custom">Skontaktuj się</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Biuro Obsługi Klienta</h5>

          <p class="card-text">          
            <i class="fas fa-phone custom-icon-size"></i>
            <strong>  22 342 32 11</strong>
          </p>
          <p class="card-text">
            <i class="fas fa-envelope custom-icon-size"></i>
            <strong>  info&#64;hornetfurniture.com</strong>
          </p>
          <p class="card-text">          
            <i class="fas fa-calendar custom-icon-size"></i>
            <strong>  Jesteśmy dostępni:</strong>
          </p>

          <p class="card-text">
            &bull; Pon - Pt: 8:00 - 17:00<br/>
            &bull; Sob: 9:00 - 14:00<br/>
            &bull; Nied: nieczynne
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
