.custom-icon-size {
  font-size: 26px;
}
.btn-custom {
  background-color: #444;
  color: #fff;
}
.faq-question {
  cursor: pointer;
  padding: 10px;
  background-color: #eee;
  margin-bottom: 5px;
}

.faq-answer {
  padding: 10px;
  background-color: #f9f9f9;
}


.div-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

