<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center div-margin-2 ">
      <h4 class="alert-heading">Chcesz zamówić płyty na wymiar?</h4>
      <p>Skontaktuj się z naszym przedstawicielem!</p>
      <p class="card-text div-margin">
        <i class="fas fa-phone custom-icon-size"></i>
        <strong> 22 342 32 11</strong>
      </p>
      <p class="card-text div-margin">
        <i class="fas fa-envelope custom-icon-size"></i>
        <strong> przedstawiciel&#64;hornetfurniture.com</strong>
      </p>
      <div class="div-margin">
        <img src="./assets/boards.jpg" class="custom-image" alt="boards">
      </div>
    </div>

  </div>
</div>
