<div class="content">
  <section class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <h3 class="card-title text-center mb-4 mt-4">Rejestracja</h3>
          <form (ngSubmit)="onSubmitRegister()" #registerForm="ngForm"  name="registerForm" class="needs-validation" novalidate>
            <div class="form-group col-md-8 offset-md-2">
              <label for="email">E-mail:</label>
              <input type="email" class="form-control" id="email" placeholder="E-mail" name="email" [(ngModel)]="email" required>
            </div>
            <hr class="divider">
            <div class="form-group col-md-8 offset-md-2">
              <label for="register-name">Imię:</label>
              <input type="text" class="form-control" id="register-name" placeholder="Imię" name="name" [(ngModel)]="name" required>
            </div>
            <hr class="divider">
            <div class="form-group col-md-8 offset-md-2">
              <label for="register-lastName">Nazwisko:</label>
              <input type="text" class="form-control" id="register-lastName" placeholder="Nazwisko" name="lastName" [(ngModel)]="lastName" required>
            </div>
            <hr class="divider">
            <div class="form-group col-md-8 offset-md-2">
              <label for="password">Hasło:</label>
              <div class="input-group">
                <input type="{{ passwordFirstShow }}" class="form-control" id="register-password" name="passwordFirst" placeholder="Hasło" [(ngModel)]="passwordFirst" required>
              </div>
              <button class="btn btn-outline-secondary border-0" type="button" (mousedown)="showFirstPassword()" (mouseup)="hideFirstPassword()">👁️</button>
            </div>
            <hr class="divider">
            <div class="form-group col-md-8 offset-md-2">
              <label for="repeat-password">Powtórz hasło:</label>
              <div class="input-group">
                <input type="{{ passwordSecShow }}" class="form-control" id="repeat-password" name="passwordSec" placeholder="Powtórz hasło" [(ngModel)]="passwordSec" required>
              </div>
              <button class="btn btn-outline-secondary border-0" type="button" (mousedown)="showSecPassword()" (mouseup)="hideSecPassword()">👁️</button>
            </div>

            <div class="form-group d-flex justify-content-center">
              <button type="submit" [disabled]="registerForm.invalid" class="btn btn-custom">Zarejestruj się</button>
            </div>
            <hr class="divider">
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
